<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-list>
    <ion-item *ngFor="let senha of listaDeSenhasExibida">
      <div class="senha-exibida" [ngClass]="{'prioritaria': senha.tipo === 'SP',
                                              'geral': senha.tipo === 'SG',
                                              'exames': senha.tipo === 'SE',
                                              'off': senha.tipo === 'Off'}">
        <div>Senha N°: {{ senha.numero !== null ? senha.numero : '' }}</div>
        <div>Tipo => {{ senha.tipo }}</div>
        <div>Guichê: {{ senha.tipo === 'SP' ? '01' : (senha.tipo === 'SG' ? '02' : (senha.tipo === 'SE' ? '03' : '04')) }}</div>
      </div>
    </ion-item>
  </ion-list>



</ion-content>
