.container-superior {
    display: flex; 
    flex-direction: column; 
  }
  
  .senha-container {
    display: flex; 
    align-items: center; 
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    width: 100%; 
    box-sizing: border-box; 
  
    div {
      margin-right: 10px;
    }
  
    &.senha-prioritaria {
      background-color: gold !important;
      color: black !important;
    }
  
    &.senha-geral {
      background-color: cornflowerblue !important;
    }
  
    &.senha-exames {
      background-color: limegreen !important;
    }
  
    &.senha-off {
      background-color: gray !important;
    }
  }
  
  ion-list {
    margin-top: 20px; }
  
  ion-item {
    --inner-padding-end: 0px; 
    --inner-padding-start: 0px; 
  }
  
  .senha-exibida {
    display: flex; 
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
  
    div {
      margin-right: 10px;
    }
  
    &.prioritaria {
      background-color: gold !important;
      color: black !important;
    }
  
    &.geral {
      background-color: cornflowerblue !important;
    }
  
    &.exames {
      background-color: limegreen !important;
    }
  
    &.off {
      background-color: gray !important;
    }

    .filtros {
        display: flex;
        justify-content: space-around;
        padding: 10px;
      
        ion-button {
          --padding-start: 10px;
          --padding-end: 10px;
           
        }
      
        ion-button.active {
          --background: var(--ion-color-primary); 
          color: white;
        }
      }

      .senha-exibida {
        // ... seus estilos existentes ...
      
        &.cancelada {
          background-color: lightgray !important;
          color: darkgray !important;
          opacity: 0.7;
        }
      
        .status-cancelada {
          color: red;
          font-weight: bold;
          margin-left: 10px; /* Ajuste a distância conforme necessário */
        }
      }
  }