<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Senha N° : 333</ion-card-title>
      <ion-card-subtitle>Tipo => SP</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Guichê : 01 </ion-card-content>
    <ion-card-content> Tempo:3:48</ion-card-content>
  </ion-card> 
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Senha N° : 157</ion-card-title>
      <ion-card-subtitle>Tipo => SG</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Guichê : 02 </ion-card-content>
    <ion-card-content> Tempo:1:23</ion-card-content>
  </ion-card>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Senha N° : 345</ion-card-title>
      <ion-card-subtitle>Tipo => SE</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Guichê : 03 </ion-card-content>
    <ion-card-content> Tempo:0:56</ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Senha N° : _____</ion-card-title>
      <ion-card-subtitle>Tipo => Off</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Guichê : 04 </ion-card-content>
    <ion-card-content> Tempo:0:00</ion-card-content>
  </ion-card>



</ion-content>
