<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label> Senha: {{ historicoAtual.atual }} </ion-label>
        <ion-label>Tipo: {{ historicoAtual.tipo }}</ion-label>
        <div>Guichê: {{ guicheAtualChamado }}</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="prioritaria">
    <ion-item >
      <ion-label>
        <h2>Última prioritaria chamada: {{ historicoPrioritarias.atual }}</h2>
        <p>Guichê: {{ historicoPrioritarias.guiche }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="geral">
    <ion-item>
      <ion-label>
        <h2>Última Geral Chamada: {{ historicoGerais.atual }}</h2>
        <p>Guichê: {{ historicoGerais.guiche }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="exames">
    <ion-item>
      <ion-label >
        <h2>Última Exame Chamada: {{ historicoExames.atual }}</h2>
        <p>Guichê: {{ historicoExames.guiche }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>