.prioritaria {
    background-color: var(--ion-color-warning); // Cor amarela
    color: var(--ion-color-warning-contrast);
  }
  
.geral {
    background-color: var(--ion-color-primary); // Cor azul
    color: var(--ion-color-primary-contrast);
  }
  
.exames {
    background-color: var(--ion-color-success); // Cor verde
    color: var(--ion-color-success-contrast);
  }