<ion-header>
  <ion-toolbar>
    <ion-title>Atendente </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="senhaRecebida">
    <div class="senha-container" [ngClass]="{'prioritaria': senhaRecebida.tipo === 'SP',
                                                'geral': senhaRecebida.tipo === 'SG',
                                                'exames': senhaRecebida.tipo === 'SE',
                                                'cancelada': senhaRecebida.status === 'cancelada'}">
      <div>Senha N°: {{ senhaRecebida.numero }}</div>
      <div>Tipo => {{ senhaRecebida.tipo === 'SP' ? 'Prioritária' : (senhaRecebida.tipo === 'SG' ? 'Geral' : 'Exames') }}</div>
      <div>Guichê: {{ guicheAtual }}</div>
    </div>

    <ion-item>
      <ion-label position="floating">Alterar Guichê</ion-label>
      <ion-input type="number" [(ngModel)]="novoGuiche"></ion-input>
    </ion-item>



    <ion-button expand="block" color="primary" (click)="encerrarAtendimento()">ENCERRAR ATENDIMENTO</ion-button>
    <ion-button expand="block" color="danger" (click)="cancelarAtendimento()">CANCELAR</ion-button>
  </div>

  <div *ngIf="!senhaRecebida">
    <p>Nenhuma senha em atendimento.</p>
  </div>
</ion-content>